<section>
  <h1>Sites</h1>
  <ul id="pages">
    <li class="page">
      <a href="http://twitter.com/anthonymastrean/"><img src="/images/twitter.png" alt="Twitter" /></a>
      <a href="http://github.com/anthonymastrean/"><img src="/images/github.png" alt="GitHub" /></a>
      <a href="http://stackoverflow.com/users/3619/"><img src="/images/stackoverflow.png" alt="StackOverflow" /></a>
      <a href="http://careers.stackoverflow.com/anthonymastrean"><img src="/images/resume.png" alt="Resume" /></a>
    </li>
  </ul>
</section>
