<section>
  <h1>Sites</h1>
  <ul id="pages">
    <li class="page">
      <a href="https://twitter.com/anthonymastrean/"><img src="/images/twitter.png" title="Twitter" alt="Twitter" /></a>
      <a href="https://github.com/anthonymastrean/"><img src="/images/github.png" title="GitHub" alt="GitHub" /></a>
      <a href="https://stackoverflow.com/users/3619/anthony-mastrean"><img src="/images/stackoverflow.png" title="StackOverflow" alt="StackOverflow" /></a>
      <a href="https://careers.stackoverflow.com/anthonymastrean/"><img src="/images/resume.png" title="Resume" alt="Resume" /></a>
    </li>
  </ul>
</section>
